body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

.container {
    margin-top: 50px;
}

.fork {
    font-size: 24px;
    display: inline-block;
    white-space: nowrap;
}

button {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}