/* ZX Spectrum Stil CSS */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: black;
    color: #00FF00;
    font-family: 'Press Start 2P', monospace;
    text-align: center;
    padding: 20px;
}

.container {
    border: 5px solid #FF0000;
    padding: 20px;
    display: inline-block;
}

.containernoboarder {
    padding: 20px;
    display: flex;
    justify-content: center;
    
}

.zx-button {
    background-color: #0000FF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.zx-button:hover {
    background-color: #FFFF00;
    color: black;
}

